@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="top-row px-4">
            Images designed by Freepik:
            <a href="http://www.freepik.com/free-vector/modern-abstract-blue-transparent-crystal-pattern-background_15681036.htm#query=abstract%20background&position=39&from_view=keyword&track=ais&uuid=6d2fa32f-426a-4931-981c-c70eb02951e7">Background</a>
            <a href="http://www.freepik.com/free-vector/top-view-business-meeting_774178.htm#query=round%20table%20from%20top%205%20person&position=25&from_view=search&track=ais&uuid=6626033d-067f-4cf6-b29c-228dda314c33">Persons</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
